@import url(reset.css);

body,
html {
	height: 100%;
}

body {
	background-color: bisque;
}

.pokemon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;

	.pokemon-card {
		background-color: blueviolet;
		width: 250px;
		height: 250px;
	}
}
