@import url(reset.css);

body,
html {
	height: 100%;
	font-size: 16px;
}

body {
	background-color: bisque;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-around;

	.search-container {
		min-height: 100px;
		width: 25%;
	}
}

.pokemon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;

	.pokemon-card {
		background-color: blueviolet;
		padding: 1rem;
		font-size: 1rem;

		img {
			width: 250px;
		}
	}
}

button {
	padding: 1rem;
	background-color: black;
	color: white;
	cursor: pointer;
}
